.attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

:root {
    --firstLinearGradient: #6448fe;
    --secondLinearGradient: #600594;
    --red: hsl(0, 100%, 66%);
    --white: #ffffff;
    --lightGrayishViolet: #dedddf;
    --darkGrayishViolet: #8e8593;
    --veryDarkViolet: #21092f;
    --blueGray: #949bac ;
    --fontSize: 1rem;
    --smallFontSize: 0.7rem;
}


#flipCard {
    width: 400px;
    height: 200px;
    background-color: transparent;
    perspective: 1000px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    user-select: none;
}

#cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2s ease-in-out;
    transform-style: preserve-3d;
}

#card-front,
#card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    background: linear-gradient(315deg,var(--firstLinearGradient), var(--secondLinearGradient));
}

#card-back {
    transform: rotateY(180deg);
    background: var(--lightGrayishViolet);
}

div#circles {
    position: relative;
    bottom: 25%;
    right: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#flipCard #circleBig {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--white);
}
#flipCard #circleSmall {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid var(--white); 
}

main #flipCard h1,h3 {
    color: var(--white);
    font-weight: normal;
}

#realDate {
    display: flex;
    gap: 0.5rem;
}

div#blackLine{
    position: absolute;
    top: 10%;
    height: 3rem;
    width: 100%;
    background-color: #313131;
}

div#grayLine {
    position: absolute;
    top: 50%;
    width: 85%;
    height: 2rem;
    background-color: var(--blueGray);
}

#realCVC {
    transform: translateY(50%);
    display: flex;
    font-size: var(--fontSize);
    justify-content: end;
    color: var(--white);
    margin-right: 0.5rem;
}

#realNumber {
    position: absolute;
    top: 60%;
    font-size: 2.1rem;
    text-align: center;
}

#realName {
    position: absolute;
    left: 10%;
    bottom: 10%;
    font-size: var(--fontSize);
}

#realDate {
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-size: var(--smallFontSize);
}

main {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    position: relative;
}

main div#test {
    height: 100%;
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

label {
    color: var(--secondLinearGradient);
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

main form input {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid var(--darkGrayishViolet);
    height: 2.5rem;
    border-radius: 6px;
    padding-left: 0.5rem;
}

main form div#expDateSide {
    display: flex;
}

main form div#sideDate input {
    width: 40%;
}

main form div#sideDate {
    width: 50%;
    display: flex;
    flex-direction: column;
}

main form div#sideDate #sideSide {
    display: flex;
    gap: 0.8rem;
}
main form div#sideCVC{
    display: flex;
    flex-direction: column;
}
main form #sideCVC input {
    width: 100%;
}

main form #expDateSide {
    display: flex;
}

main form button {
    height: 3rem;
    border-radius: 6px;
    color: var(--lightGrayishViolet);
    background-color: var(--veryDarkViolet);
}

